@import "tailwindcss";



@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

input#password::-ms-reveal,
input#username::-ms-reveal,
input#password::-ms-clear {
  display: none !important;
}
input#password::-webkit-contacts-auto-fill-button,
input#password::-webkit-credentials-auto-fill-button {
  display: none !important;
}